form {
    width: 500px;
    overflow: hidden;
    text-align: center;
    margin: auto;
    /*border: 3px solid black;*/
    padding: 10px;
}
input {
    width: 100%;
    margin-bottom: 5%;
}
span {
    display: block;
    overflow: hidden;
    padding-right:10px;
}

.changePage{
    margin-top: 10px;
    text-align: center;
    padding: 50px ;
    width: 900px;
    margin: 30px auto;
    background:white;
    backdrop-filter:blur(10px);
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:10px;
    transition:transform 0.2s ease-in-out;
  }
.divSearchBar {
    text-align: center;

    padding: 50px;
    width: max-content;
    margin: 30px auto;
    background: linear-gradient(rgba(200, 240, 250, 0.9), white);
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.divSearchResult{
    /*text-align: center;*/

    padding: 50px;
    width: 70%;
    margin: 30px auto;
    background: linear-gradient(white, rgba(200, 240, 250, 0.9));
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.divClass{
    text-align: center;
    padding: 50px ;
    width: max-content;
    margin: 30px auto;
    background:linear-gradient(rgba(200,240,250,0.9), white);
    backdrop-filter:blur(10px);
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:10px;
    transition:transform 0.2s ease-in-out;
  }
  
